
$button-rad: 5px

button
  border: none
  border-radius: $button-rad
  height: 50px
  background-color: #ffac6c !important
  width: 100px 
  margin-left: -5px
  font-size: 10pt
  color: white !important
  font-weight: bolder !important
