$board-img-height: 200px
$board-img-width: 200px
$board-name-ratio-of-img: 1.2

ul.board-list
  width: 80%
  margin: auto
  padding: 10px
  text-align: center
  list-style: none

  .board-item
    display: inline-block
    margin-top: 30px
    padding: 0px
    text-align: center
    vertical-align: text-top
    overflow: hidden
      
    a
      display: inline-block

    .board-name
      width: $board-img-width*$board-name-ratio-of-img
      margin: 0

    .board-img
      height: $board-img-height 
      width: $board-img-width
      clip-path: circle(90px at center)
      position: relative
      z-index: -1

main
  h1
    text-align: center
